.bg-c-blue {
  /* background: linear-gradient(45deg, #4099ff, #73b4ff); */
  background: linear-gradient(
    45deg,
    rgba(64, 153, 255, 0.5),
    rgba(115, 180, 255, 0.5)
  );
}

.bg-c-green {
  background: linear-gradient(
    45deg,
    rgba(46, 216, 182, 0.5),
    rgba(89, 224, 197, 0.5)
  );
  /* background: linear-gradient(45deg, #2ed8b6, #59e0c5); */
}

.bg-c-yellow {
  /* background: linear-gradient(45deg, #ffb64d, #ffcb80); */
  background: linear-gradient(
    45deg,
    rgba(164, 59, 59, 0.5),
    rgba(246, 37, 37, 0.5)
  );
}

.bg-c-pink {
  /* background: linear-gradient(45deg, #ff5370, #ff869a); */
  background: linear-gradient(
    45deg,
    rgba(124, 48, 150, 0.5),
    rgba(121, 106, 181, 0.5)
  );
}

.card .card-block {
  padding: 2em;
}
