<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-secondary w-auto table-borderless align-middle table-success">
            <tbody>
                <tr>
                    <td>{{ match.firstCompetitorName }}</td>
                    <td rowspan="2">{{ match.firstCompetitorScore }} {{ match.secondCompetitorScore }}</td>
                </tr>
                <tr>
                    <td>{{ match.secondCompetitorName }}</td>
                </tr>
            </tbody>
        </table>
    <div>
<div>