<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="background-color: black; font-size: 18px"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink=""
      >L<span class="text-danger">GM</span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="loggedIn">
          <a routerLink="/tournament" routerLinkActive="active" class="nav-link"
            >Tournament</a
          >
        </li>
        <li class="nav-item" *ngIf="loggedIn">
          <a routerLink="/league" routerLinkActive="active" class="nav-link"
            >League</a
          >
        </li>
        <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li> -->
        <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
      </ul>

      <form class="d-flex" *ngIf="!loggedIn">
        <!-- search field is on 2 places, don't change only one -->
        <div class="container-fluid">
          <form class="d-flex" [formGroup]="searchForm" (keyup.enter)="search()">
            <app-input
              [control]="$any(searchForm.controls).searchQuery"
              [placeholder]="'search...'"
              [marginBottom]="'mb-0'"
              [isForm]="false"
            ></app-input>
            <!-- <app-gradient-button
              [title]="'Search'"
              (onClick)="search()"
              [form]="searchForm"
            ></app-gradient-button> -->
          </form>
        </div>
        <a routerLink="/login" class="me-2">
          <app-gradient-button [title]="'Login'"></app-gradient-button>
        </a>
        <a routerLink="/register">
          <app-gradient-button [title]="'Register'"></app-gradient-button>
        </a>
      </form>

      <form class="d-flex" *ngIf="loggedIn">
        <!-- search field is on 2 places, don't change only one -->
        <div class="container-fluid">
          <form class="d-flex" [formGroup]="searchForm" (keyup.enter)="search()">
            <app-input
              [control]="$any(searchForm.controls).searchQuery"
              [placeholder]="'search...'"
              [marginBottom]="'mb-0'"
              [isForm]="false"
            ></app-input>
            <!-- <app-gradient-button
              [title]="'Search'"
              (onClick)="search()"
              [form]="searchForm"
            ></app-gradient-button> -->
          </form>
        </div>
        <a routerLink="/profile" class="me-2">
          <app-gradient-button [title]="'Profile'"></app-gradient-button>
        </a>
      </form>
    </div>
  </div>
</nav>
